@page "{id:int}"
@model final_project_eryckm55.Pages.People.DeleteModel

<h1 class="text-center mt-3">Delete Person</h1>
<hr />

<div class="alert alert-danger text-center">
    Are you sure you want to delete this person?
</div>

<div class="card p-4 shadow" style="max-width:600px;margin:auto;">
    <h4>@Model.Person.Name</h4>

    <form method="post">
        <button class="btn btn-danger w-100 mb-2">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary w-100">Cancel</a>
    </form>
</div>
